/*
    ===================================================
    Abstracts
    ===================================================
*/

 .h-split
 {
    display: flex;
    width: 100%;
 }

.h-split__left,
.h-split__right
{
}

.h-split--middle .h-split__left,
.h-split--middle .h-split__right
{
    vertical-align: middle;
}

.h-split--bottom .h-split__left,
.h-split--bottom .h-split__right
{
    vertical-align: bottom;
}

.h-split__left
{
    flex-grow: 1;
    flex-shrink: 0;
}

.h-split__right
{
    direction: rtl;
    float: right;
    flex-grow: 0;
    flex-shrink: 0;
}

.h-split__right > *
{
    direction: ltr;
}

.v-split
{
  position: relative;
  display: table;
  height: 100%;
}

.v-split__top,
.v-split__bottom
{
    display: table-row;
    vertical-align: top;
    height: auto;
}

.v-split__bottom
{
    vertical-align: bottom;
    height: 1px;
}

.v-split__bottom > *
{
    vertical-align: bottom;
}

.button
{
  position: relative;
  display: inline-block;
  background: #ccc;
  border: 0;
  cursor: pointer;
  padding: 10px;
  min-height: 60px;
}
.compact .button
{
  min-height: 30px;
}
.button.sml
{
  min-height: 30px;
}

.button--wide
{
  width: 100%;
  min-width: 350px;
}

.button--icon
{
  border-left: 60px solid #999;
}

.button--icon .button__icon
{
  position: absolute;
  top: 0;
  left: -60px;
}

.button:hover
{
  color: #fff !important;
  background: #2ecc71;
}

.button:hover *
{
  color: #fff !important;
}

.button--icon:hover
{
  border-left-color: #27ae60;
}

/* for icons on rhs of list (eg storage.js) */
.list__item > span:hover {
  background-color : #eee;
}
.list__item > span > a:hover {
  background-color : #2ecc71;
}
