/*
  ===================================================
  Components
  ===================================================
*/

/* Window */
.window
{
  position: relative;
  width: 100%;
  height: 100%;
}

/* for windows that have a 'real' OS-visible title bar */
.window--app
{
  padding-top: 30px;
}

.window--modal
{
	display: inline-block;
	text-align: left;
	background: white;
	z-index: 200;
	width: 350px;
	min-height: 110px;
	height: auto;
	padding-top: 30px;
}

.window--modal.window--stretch
{
  display: block;
  position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	width: auto;
	height: auto;
}

.window--modal.window--auto
{
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width:90vh;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}
.window--modal.window--auto >  .window__viewport
{
   max-height:90vh;
 }

.window--modal.window--center
{
  display: block;
  position: absolute;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.window--modal.window--center > .window__viewport
{
  max-height: 400px;
}

.window__title-bar
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.window--app > .window__title-bar
{
  z-index: 100;
  -webkit-app-region: drag;
}

.window--modal .window__title-bar .title-bar__title
{
  text-align: left;
}

.window__viewport
{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.window__overlay
{
	display: table;
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 199;
}

.window__overlay-inner
{
	display: table-cell;
 	text-align: center;
 	vertical-align: middle;
}


/* Title Bar */
.title-bar
{
  background: #333;
  color: #fff;
  height: 30px;
}

  .title-bar__title
  {
    text-align: center;
    font-size: 100%;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 10px;
  }

  .title-bar__buttons
  {
    position: absolute;
    top: 0;
    right: 0;
  }

  .title-bar__button
  {
    display: inline-block;
    -webkit-app-region: no-drag
  }

/* Toolbar */
.toolbar
{
  position: relative;
  background: #3498db;
  height: 60px;
  padding: 0px;
}

/* Menu */
a:hover > .menu
{
  display: block;
}

.menu
{
  display: none;
  position: absolute;
  width: 230px;
  padding: 10px;
  background: #2c80b9;
  z-index: 2000;
}

  .menu a
  {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    line-height: 30px;
  }

  .menu a:hover
  {
    background: rgba(0,0,0,0.3);
  }

  .menu a i
  {
    vertical-align: middle;
  }

  .toolbar .menu { background: #2c80b9; }
  .toolbar .toolbar__buttons--left .menu { top: 60px; left: 0; }
  .toolbar .toolbar__buttons--right .menu { top: 60px; right: 0; }

  .sidebar .menu { background: #373d3e; }
  .sidebar .sidebar__buttons--top .menu { top: 0; left: 60px; }
  .sidebar .sidebar__buttons--bottom .menu { bottom: 0; left: 60px; }

  /* Full (un-split) Pane */
  .full-pane
  {
  	position: absolute;
  	margin-top: 60px;
  	top: 0;
  	right: 0;
  	bottom: 30px;
  	left: 0;
  }

/* Split Pane */
.split-pane
{
	position: absolute;
	margin-top: 60px;
	top: 0;
	right: 0;
	bottom: 30px;
	left: 0;
}

/* Loading indicator */
.split-pane__loading {
  position:absolute;
  top:50%;left:50%;
  transform: translate(-50%,-50%);
  font-size:24px;
  font-weight: bold;
  color:#888;"
}

/* Status */
.status
{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background: #42484a;
        color: #fff;
        height: 30px;
        width: 100%;
}

.status h5
{
        display: inline-block;
        font-size: 100%;
        line-height: 30px;
        text-transform: uppercase;
}


.status__port
{
        margin: 0;
        padding: 0 10px;
}

.status__message
{
        margin: 0;
        padding: 0 10px;
}

/* Progress */
.status__progress
{
        display: inline-block;
        position: relative;
        width: 180px;
        height: 4px;
        top: -1px;
        margin: 0px;
        vertical-align: middle;
        background: rgba(0,0,0,0.2);
}

.status__progress-bar
{
        background: #2ecc71;
        width: 0%;
        height: 4px;
        max-width: 100% !important;
}

/* Editor Wrapper */
.editor
{
	position: relative;
	width: 100%;
	height: 100%;
}

.editor__sidebar
{
	position: absolute;
	top: 0;
	left: 0;
}

.editor__canvas
{
        position: absolute;
        top: 0;
        left: 60px;
        right: 0;
        bottom: 0;
        overflow: hidden;
}

.editor__canvas__fullscreen
{
  left: 0;
  z-index:  100;
}

/* Sidebar */
.sidebar
{
	background: #42484a;
	width: 60px;
	height: 100%;
	overflow: visible;
}

.sidebar .v-split
{
	background: #42484a;
}

.splitster__bar--ghost
{
	background: #3498db;
  opacity: 0.5;
}

/* Lists */
.list,
.list__item
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list
{
        margin: 10px;
}

.list__item
{
        margin-bottom: 10px;
        overflow: hidden;
}

.list__item__name
{
        font-weight: normal;
        font-size: 150%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 0px;
        white-space: nowrap;
        width: 100%;
}

.list__item__desc
{
        /* font-size: 70%; */
        color : #666;
        white-space: nowrap;
        padding-left:  5px;
}
.compact .list__item__desc
{
        font-size: 70%;
}

.list__no-results
{
        color: #333;
        font-size: 120%;
        text-transform: uppercase;
        text-align: center;
        line-height: 40px;
        min-width: 300px;
}

.list__no-results-help
{
        color: #333;
        text-align: center;
        line-height: 30px;
}

.list__itemicon-right {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #aaa;
    cursor: pointer;
}
.loading-text
{
        color: #333;
        font-size: 120%;
        text-transform: uppercase;
        text-align: center;
        line-height: 40px;
}

/* Snippets list */

.terminalSnippets
{
paddi   ng-left: 15px;
}

.terminalSnippet
{
        position: relative;
        display: inline-block;
        background: #ccc;
        border-left: 10px solid #999;
        cursor: pointer;
        padding: 2px;
        padding-left: 8px;
        margin: 1px;
        height: 20px;
        width: 320px;
}

.terminalSnippet:hover
{
        color: #fff !important;
        border-left-color: #27ae60;
        background: #2ecc71;
}


/* Terminal */
/* ----------------------------------------------------- */
.terminal
{
  font-size: 12px;
  background-color: #222;
  color: white;
  display: block;
  border: 0;
  padding: 10px;
  overflow: auto; /* adds scrollbar if needed */

  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;

  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

.termLine {
  font-family: Fixed, monospace;
  tab-size: 4;
  min-height: 1em;
}

.terminal.focus
{
  background-color: #333;
}

.terminal__focus
{
  position: absolute;
  top: -100px;  /* hide it */
}

.terminal--webcam
{
  background: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  /*  color : white;
  text-shadow: -1px -1px black, 1px 1px black, 1px -1px black, -1px 1px black,
               -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
               -2px -2px black, 2px 2px black, 2px -2px black, -2px 2px black,
               -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
               -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;  */
  color : black;
  text-shadow: -1px -1px white, 1px 1px white, 1px -1px white, -1px 1px white,
               -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white,
               -2px -2px rgba(255,255,255,0.5), 2px 2px rgba(255,255,255,0.5), 2px -2px rgba(255,255,255,0.5), -2px 2px rgba(255,255,255,0.5),
               -2px 0 rgba(255,255,255,0.5), 0 2px rgba(255,255,255,0.5), 2px 0 rgba(255,255,255,0.5), 0 -2px rgba(255,255,255,0.5),
               -3px 0 rgba(255,255,255,0.2), 0 3px rgba(255,255,255,0.2), 3px 0 rgba(255,255,255,0.2), 0 -3px rgba(255,255,255,0.2);
}

.terminal--webcam.focus
{
  background: transparent;
}

.terminal a
{
  color:#88F;
}
.terminal a:visited
{
  color:#88F;
}

.terminal--connected.focus .terminal__cursor
{
  animation: blink 1s step-end 0s infinite;
}

.terminal--webcam.focus .terminal__cursor
{
  text-shadow: none;
  animation: blink_webcam 1s step-end 0s infinite;
}

@keyframes blink {
  0%, 100% {
        background-color: #fff;
        color: #000;
  }
  50% {
        background-color: transparent;
        color: #aaa;
  }
}

@keyframes blink_webcam {
  0%, 100% {
        background-color: #ffffffC0;
        color: #000;
  }
  50% {
        background-color: #000000C0;
        color: #fff;
  }
}


/* Tutorial */
.tutorial_text {
    background-color : #222;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tutorial_text .code {
    background-color : #333;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 2px;
}

.tutorial_code {
    background-color : #333;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    font-weight: bold;
    color: #CFC;
}

/* Other notifications */
.notification_text {
    background-color : #145931;
    border: 1px solid #1b7a43;
    border-radius: 10px;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Other notifications */
.terminal-status-container {
  min-height: 34px;
}
.terminal-status {
  float:right;
  border-radius: 5px;
  padding: 6px;
  margin-top: 2px;
  clear: both;
}
/* Other notifications */
.terminal-status-success {
  background-color: #2ecc71;
}
.terminal-status-error {
  background-color: #e74c3c;
}
.terminal-status-info {
  background-color: #3498db;
}
.terminal-status-warning {
  background-color: #f39c12;
}

.terminal-inline-image {
  border: 1px solid #666;
  padding: 8px;
  margin: 8px;
}

/* Code Editors */
#divcode {
  overflow-y: auto;
  overflow-x: auto;
}

.blocky
{
  width: 100%;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.lint-error {font-family: arial; font-size: 70%; background: #ffa; color: #a00; padding: 2px 5px 3px; }
.lint-error-icon {color: white; background-color: red; font-weight: bold; border-radius: 50%; padding: 0 3px; margin-right: 7px;}
.cm-trailingspace {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
    background-position: bottom left;
    background-repeat: repeat-x;
}
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.CodeMirror-Tern-tooltip {
  max-width: 400px;
  overflow-x : scroll;
}

.cm-DebugLineBg {
	background-color: #FF7F7F;
}


/* Settings */
.settings {
  position:relative;
  height:100%;
  overflow: hidden;
}

  .settings .sections
  {
    position: absolute;
    top: 0;
    left: 0;
    background: #42484a;
    width: 180px;
    height: 100%;
  }

    .settings .sections a
    {
        display: block;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        height: 30px;
        cursor: pointer;
    }

    .settings .sections a:hover
    {
      background: rgba(0,0,0,0.4);
    }

    .settings .sections [class*="icon-"]
    {
      vertical-align: middle;
    }

    .settings .sections a.current
    {
      position: relative;
      background-color: #2ecc71;
    }

    .settings .sections a.current:after
    {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent #2ecc71;
      display: block;
      width: 0;
      z-index: 1;
      right: -5px;
      top: 10px;
    }

.settings .currentsection
{
    position:absolute;
    top: 0;
    left: 180px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    padding: 15px 30px;
}

.board_info
{
  /* allow select */
  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

.console
{
  border:1px solid #EEEEEE;
  width: 100%;
  padding: 6px;
  word-wrap:break-word;
  font-family: monospace;

  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

.settingsProfile__popup
{
    padding: 15px;
}

.settingsProfile__popup p,
.settingsProfile__popup table
{
    margin-top: 1em;
}

.settingsProfile__popup th,
.settingsProfile__popup td
{
    text-align: left;
    padding: 5px;
}

.settingsProfile__popup th:first-child,
.settingsProfile__popup td:first-child
{
    padding-left: 0;
}



/* Compact */
.compact .toolbar { height: 30px; }
.compact .toolbar .toolbar__buttons--left .menu { top: 30px; }
.compact .toolbar .toolbar__buttons--right .menu { top: 30px; }
.compact .sidebar .sidebar__buttons--top .menu { left: 30px; }
.compact .sidebar .sidebar__buttons--bottom .menu { left: 30px; }
.compact .split-pane { margin-top: 30px; }
.compact .editor__canvas { left: 30px; }
.compact .sidebar {  width: 30px; }
.compact .button { height: 30px; padding: 0; }
.compact .button--icon { border-left-width: 30px; }
.compact .button--icon .button__icon { left: -30px; }
.compact .list__item__name { font-size: 100%; }
.compact .list__item { margin-bottom: 2px; }

/* For code highlighter comments */
.hljs-comment,.hljs-quote{color:#a50}
.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion{}
.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link{color:#164}
.hljs-attribute{color:#00c}
.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition{color:#a11}
.hljs-title,.hljs-section{color:#4271ae}
.hljs-keyword,.hljs-selector-tag{color:#708}
.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
