/* 
  ===================================================
  Main
  ===================================================
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  color: #000;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: hidden;
}

a, button, .no-drag
{
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar 
{
  background: #ecf0f1;
  width: 15px;
}

::-webkit-scrollbar-thumb 
{
    background: #bdc3c7;
  border: 5px solid #ecf0f1;
}

::-webkit-scrollbar-thumb:hover
{
    background: #42484a;
}

/* ----------------------------------------------------- */

.settings {
	position:relative; 
	height:100%;
}

.settings .sections a {
    position:relative; 
    top:0px;
    left:0px;
    width: 200px;  
    height: 30px;  
    display: block;
    background-color: #EEE;
    margin: 2px;
}

.settings .sections a span {
    position:absolute;
    left: 35px; 
    top:50%; 
    font-size: 16px;
    margin-top:-8px;
}

.settings .sections a.current {
    background-color: #CCC;
}

.settings .sections a:hover {
    background-color: #BBB;
}

.settings .currentsection {
    position:absolute; 
    top: 8px;
    left: 220px;
    right: 8px;
    bottom: 8px;
    overflow: auto;
}

/* ----------------------------------------------------- */

.progress {	
	position: relative;
	display: inline-block;
	width: 154px;	
	height: 60px;
}

.progress .status {
	color: #194969;
    position:absolute;
    left: 16px; 
    top:50%; 
    font-size: 16px;
    margin-top:-8px;
}

.progress .indicator {
	position:absolute;
	top: 2px;
	left: 2px;
	width: 0px;
	height: 56px;
    background-color: #2978ac;
    display: block;
}


/* ----------------------------------------------------- */

.tutorial_text {
    background-color : #222;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tutorial_text .code {
    background-color : #333;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 2px;
}

.tutorial_code {
    background-color : #333;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 4px;
    margin-top: 8px;
    font-weight: bold;
    color: #CFC;
}


/* ----------------------------------------------------- */

#divcode {
  overflow-y: auto;
  overflow-x: auto;
}

.blocky 
{
  width: 100%;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

.lint-error {font-family: arial; font-size: 70%; background: #ffa; color: #a00; padding: 2px 5px 3px; }
.lint-error-icon {color: white; background-color: red; font-weight: bold; border-radius: 50%; padding: 0 3px; margin-right: 7px;}
.cm-trailingspace {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
    background-position: bottom left;
    background-repeat: repeat-x;
}
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

/* ----------------------------------------------------- */

*.paramStyle { background-color:#ccccff; }
 
