html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

body {
  color: #000;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: hidden;
}


#terminal {
  font-family: Fixed, monospace;
  font-size: 12px;
  background-color: #000;
  color: white;
  display: block;
  border: 2px solid #666;
  overflow: scroll; /* adds scrollbar */

  position: absolute;
  left: 0px;
  top: 32px;
  bottom: 0px;
  
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;  
  user-select: text;
}

#terminal.focus {
 border: 2px solid black;
}

#terminalfocus {
  position: absolute;
  top: -100px;  /* hide it */
}

#videotag {
  background-color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index:-100;
}

#terminal.with_webcam {
  background: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
/*  color : white;
  text-shadow: -1px -1px black, 1px 1px black, 1px -1px black, -1px 1px black,
               -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
               -2px -2px black, 2px 2px black, 2px -2px black, -2px 2px black,
               -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
               -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;	*/
  color : black;
  text-shadow: -1px -1px white, 1px 1px white, 1px -1px white, -1px 1px white,
               -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white,
               -2px -2px white, 2px 2px white, 2px -2px white, -2px 2px white,
               -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white,
               -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.termCursor {
  background-color: #FFF;
  color: #888;
}

.ui-widget {
        font-size: 10px;
}

.ui-layout-pane { /* all 'panes' */ 
	background: #FFF; 
	border: 1px solid #BBB; 
	overflow: none;
} 
.ui-layout-east {       
        overflow: auto;
        width: 50%;
}
.ui-layout-center {       
        overflow: hidden;
}


.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DDD; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background: #AAA; 
} 

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
