.git
.gitmodules
.project
.settings
CONTRIBUTING.md
EspruinoWebIDE.zip
embed.js
extras
unused
relay
EspruinoTools/node_modules
blockly/emojitest.js
extras/field_textarea2.js
extras/nwjs_build.sh
espruinotools.js 
auth_config.json
*~
tmp
emulator.html
